<p-toast></p-toast>

<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '30rem' }">
  <ng-template pTemplate="header">
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap">Add Your First City</span>
    </div>
  </ng-template>

  <form [formGroup]="cityForm" (ngSubmit)="saveCity()">
    <span class="text-surface-500 dark:text-surface-400 block mb-4!">
      Welcome! To get started, please add a city to view weather information.
    </span>

    <div class="flex items-center gap-4 mb-4!">
      <label for="cityName" class="font-semibold w-24">City Name</label>
      <input pInputText id="cityName" formControlName="cityName" class="flex-auto" autocomplete="off" placeholder="Enter city name (e.g., London)" />
    </div>

    <div class="flex items-center gap-4 mb-4!">
      <label for="unit" class="font-semibold w-24">Temperature</label>
      <p-dropdown id="unit" formControlName="unit"
                  [options]="unitOptions"
                  optionLabel="label"
                  optionValue="value"
                  class="flex-auto"
                  [style]="{'width':'100%'}"
                  appendTo="body">
      </p-dropdown>
    </div>

    <div *ngIf="cityForm.get('cityName')?.invalid && cityForm.get('cityName')?.touched" class="text-red-500 text-sm mt-1 mb-3">
      Please enter a city name
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" [text]="true" severity="secondary" (click)="hideDialog()" [disabled]="isLoading"  />
    <p-button label="Add City" [outlined]="true" severity="primary" (click)="saveCity()" [loading]="isLoading" />
  </ng-template>
</p-dialog>
