<div class="flex flex-col gap-4">
  <p-card styleClass="header">
    <h2 class="font-bold text-4xl md:text-6xl  p-2! my-auto">Weather App</h2>
    <div class="flex align-items-center gap-2 p-2! control-buttons">
      <p-button
        icon="pi pi-sun"
        size="small"
        (onClick)="toggleDarkMode()"
        [outlined]="true"
        [rounded]="true"
        [raised]="true"
      >
      </p-button>
      <!-- Options PopOver -->
      <app-profile></app-profile>
    </div>
  </p-card>
  <app-current-weather></app-current-weather>

  <!-- Add City Dialog Component -->
  <app-city-search-dialog></app-city-search-dialog>
  <p-toast></p-toast>

</div>
