:host ::ng-deep .custom-card {
  border: 1px solid gainsboro;
}
/* Dark mode styling if needed */
:host-context(.my-app-dark) ::ng-deep .custom-card {
  border: 1px solid gray;
}

/* Button styling */
.control-buttons p-button ::ng-deep .p-button {
  transition: all 0.2s ease;
  min-width: 2.5rem;
  min-height: 2.5rem;

}

.control-buttons p-button ::ng-deep .p-button:hover {
  transform: scale(1.05);
  border: 1px solid green;
}
